<!DOCTYPE html>
<html>
  <head>
    <title>Artist Search</title>
    <link rel="stylesheet" href="/views/styles.css" />
  </head>
  <body>
    <div class="header">
      <p>Artist Search</p>
    </div>

    <!-- <form action="/" method="post">
    <input type="submit" value="Search">
    <input type="text" name="search" value="{{request.form['search']}}" placeholder="Please enter artist name.">
  </form>  -->
    <div id="search">
      <form id="myform" method="POST">
        <!-- <input type="submit"> -->
        <button type="submit">
          <img src="images/search_icon.png" alt="" />
        </button>
        <input
          type="text"
          id="userInput"
          value=""
          placeholder="Please enter an artist name."
          required="Please fill out this field."
          spellcheck="false"
        />
        <button id="clear" type="reset">
          <img src="images/clear_icon.png" alt="" />
        </button>
      </form>
    </div>

    <div id="add_gif">
      <img class="loading" src="/views/images/loading.gif" alt="" />
    </div>

    <div id="not_applicable">
      <div id="na">No results found.</div>
    </div>

    <!-- <div id="scroll_bar"> -->
    <div id="scroller">
      <!-- <img id="loading" src="" alt="loading image"> -->
      <!-- artist card will be added here -->
      <!-- <div class="card">
        <img id="img0" src="views/images/artsy_logo.svg" alt="image for the artist">  
        <p id="name0"></p>
    </div> -->
    </div>
    <!-- </div> -->
    <div id="gif">
      <div id="add_gif2">
        <img class="loading" src="/views/images/loading.gif" alt="" />
      </div>
    </div>

    <div id="artist_info">
      <!-- <img id="loading" src="" alt="loading image"> -->
      <!-- artist info will be added here -->
      <!-- <h2 id="info1">  </h2> -->
      <!-- <h3 id="info2">  </h3> -->
      <!-- <p id="info3">  </p> -->
    </div>

    <!-- <div class="scroller">
    <div class="card">
        <img src="{{content._embedded.results[0]._links.thumbnail.href}}" alt="image for the artist">  
        <h2>{{content._embedded.results[0].title}}</h2>
    </div>
    <div class="card">
        <img src="{{content._embedded.results[1]._links.thumbnail.href}}" alt="image for the artist">  
        <h2>{{content._embedded.results[1].title}}</h2>
    </div>
    <div class="card">
        <img src="{{content._embedded.results[2]._links.thumbnail.href}}" alt="image for the artist">  
        <h2>{{content._embedded.results[2].title}}</h2>
    </div>
    <div class="card">
        <img src="{{content._embedded.results[3]._links.thumbnail.href}}" alt="image for the artist">  
        <h2>{{content._embedded.results[3].title}}</h2>
    </div>
    <div class="card">
        <img src="{{content._embedded.results[4]._links.thumbnail.href}}" alt="image for the artist">  
        <h2>{{content._embedded.results[4].title}}</h2>
    </div>
    <div class="card">
        <img src="{{content._embedded.results[5]._links.thumbnail.href}}" alt="image for the artist">  
        <h2>{{content._embedded.results[5].title}}</h2>
    </div>
    <div class="card">
        <img src="{{content._embedded.results[6]._links.thumbnail.href}}" alt="image for the artist">  
        <h2>{{content._embedded.results[6].title}}</h2>
    </div>
    <div class="card">
        <img src="{{content._embedded.results[7]._links.thumbnail.href}}" alt="image for the artist">  
        <h2>{{content._embedded.results[7].title}}</h2>
    </div>
    <div class="card">
        <img src="{{content._embedded.results[8]._links.thumbnail.href}}" alt="image for the artist">  
        <h2>{{content._embedded.results[8].title}}</h2>
    </div>
    <div class="card">
        <img src="{{content._embedded.results[9]._links.thumbnail.href}}" alt="image for the artist">  
        <h2>{{content._embedded.results[9].title}}</h2>
    </div>

</div> -->

    <!-- artist_title= {{content.data["_embedded"]["results"][0]["title"]}}
artist_image={{content.data["_embedded"]["results"][0]["_links"]["thumbnail"]["href"]}}
artist_id={{content.data["_embedded"]["results"][0]["_links"]["self"]["href"]}} -->

    <div class="footer">
      <p>
        <a href="https://www.artsy.net/"
          >Powered by
          <img
            src="C:\Users\vikas\GCP_Project\hw3_artsy_web_app\views\images\artsy_logo.svg\views\images\artsy_logo.svg"
            alt="logo"
          />
          Artsy.</a
        >
      </p>
    </div>
    <form action="/search" method="POST">
      <input type="button" value="Login" formaction="/login" />
      <input type="button" value="Register" formaction="/register" />
      <input type="button" value="logout" formaction="/logout" />
      <input
        type="text"
        name="userInput"
        placeholder="Please enter an artist name."
      />
      <button type="submit">Search</button>
    </form>
    <script src="/views/script.js"></script>
  </body>
</html>
